<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <center><h1>About Page</h1></center>
    <center>
        <a href="/">Home page</a>
        <a href="/contect-us">contect page</a>
    </center>

    <center>
        <div>
            <% user.map((e)=>{ %>
                <h1><%= e.user_name %></h1>
                <h2><%= e.user_job %></h3>
                <h3><%= e.user_age %></h3>    
            <%})%>    
        </div>
    </center>
</body>
</html>